@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Avenir', sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bodoni Moda', serif;
}